body{
    background-color: #F2F2F2;
}

#root{
    padding: 0%;
}

.bodyDesign{
    min-height: 60vh;
}

.fontNav{
    color: #F23005;
}
.fontNav:hover{
    font-weight: bold;
    color: #F2F2F2;
}

.font{
    color: #F23005;
}
.font:hover{
    font-weight: bold;
}

.updateIcon{
    width: 1.5em;
    height: 1.5em;
}
.updateIcon:hover{
    width: 2em;
    height: 2em;
}
.deleteIcon{
    width: 1em;
    height: 1em;
}
.deleteIcon:hover{
    width: 1.5em;
    height: 1.5em;
}

