body{
    background-color: #F2F2F2;
}

#root{
    padding: 0%;
}

.bodyDesign{
    min-height: 60vh;
}

.fontNav{
    color: #F23005;
}
.fontNav:hover{
    font-weight: bold;
    color: #F2F2F2;
}

.font{
    color: #F23005;
}
.font:hover{
    font-weight: bold;
}


.updateIcon{
    width: 1.5em;
    height: 1.5em;
    transition: 0.3s;
    cursor: pointer;
}
.updateIcon:hover{
    width: 2em;
    height: 2em;
    transition: 0.3s;
}
.deleteIcon{
    width: 1em;
    height: 1em;
    transition: 0.3s;
    cursor: pointer;

}
.deleteIcon:hover{
    width: 1.5em;
    height: 1.5em;
    transition: 0.3s;
}

.spinnerDesign{
    height: 5em;
    width: 5em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

